body 
{
    background-color: aqua;
}

h1 
{
    color: red;
    font-size: 45px;
}
hr 
{
    border: solid 2px red;
    width: 30%;
}
p{
    width: 40%;
    height: auto;
    margin: auto;
}